$nav-bg-color: rgb(36, 41, 47);
$nav-color:rgb(255, 255, 255);

$nav-hover-color:rgb(190, 191, 193);
$dropdown-hover-color:rgb(9, 105, 218);
$gray-color:rgba(87, 96, 106, 0.4);
$hover-bg-color: rgb(240, 242, 244);
$icon-color: #6e7781;